/******************************** reset ********************************/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lato", sans-serif;
}

/******************************** logo ********************************/

.logo {
  width: 268px;
  height: 93px;
  margin: 20px auto;
}

/******************************** main ********************************/

main {
  margin: 0 50px;
}

#main-search-wrapper {
  position: relative;
}

#search-icon {
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
}

#search-input {
  width: 100%;
  padding: 15px;
  border-radius: 5px;
  background: #e7e7e7;
  border: none;
  opacity: 0.35;
}

/******************************** filters *********************************/

#filters {
  margin-top: 30px;
  display: flex;
}

.filter-input {
  border: 0px solid transparent;
  outline: 0;
  width: 100px;
  height: 25px;
  padding-left: 10px;
  color: #fff;
}

.filter-input::placeholder {
  color: #fff;
}

.filter {
  width: 170px;
  height: 69px;
  border-radius: 5px;
  margin-right: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: none;
  color: #fff;
}

.filter:nth-child(1),
.filter:nth-child(1) .filter-input{
  background-color: #3282f7;
}

.filter:nth-child(2),
.filter:nth-child(2) .filter-input {
  background-color: #68d9a4;
}

.filter:nth-child(3),
.filter:nth-child(3) .filter-input {
  background-color: #ed6454;
}
