/******************************** reset ********************************/

* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

body {
   font-family: "Lato", sans-serif;
}

/******************************** logo ********************************/

.logo {
   width: 268px;
   height: 93px;
   margin: 20px auto;
}

/******************************** main ********************************/

main {
   margin: 0 50px;
}

#main-search-wrapper {
   position: relative;
}

#search-icon {
   position: absolute;
   top: 50%;
   right: 15px;
   transform: translateY(-50%);
}

#search-input {
   width: 100%;
   padding: 15px;
   border-radius: 5px;
   background: #e7e7e7;
   border: none;
   opacity: 0.35;
}

/******************************** filters *********************************/

#filters {
   width: 100%;
   margin-top: 30px;
   display: flex;
   align-items: start;
   justify-content: start;
   /* max-height: 1024px; */
   /* border: 1px dotted crimson; */
}
#filter-ustensil {
   margin-left: 30px;
   /* border: 1px solid yellow; */
}
#filter-appliance {
   border: 1px solid salmon;
}

.filter,
.open-filter {
   max-width: 1440px;
   max-height: 1024px;
   border-radius: 5px;
   margin-right: 30px;
   display: flex;
   justify-content: start;
   align-items: start;
   border: none;
   color: #fff;
}

.open-filter {
   min-width: 30%;
   min-height: 15%;
   margin-right: 0;
   padding: 15px;
   justify-content: space-around;
   align-items: center;
   cursor: pointer;
}

.chevron {
   margin-left: 15px;
   cursor: pointer;
}

.filter-bottom {
   max-width: 100%;
   border-radius: 5px;
   display: flex;
   flex-direction: column;
   padding: 10px;
}

.filter-bottom-top {
   display: flex;
}

.filter-bottom button {
   height: 25px;
   padding: 15px;
   border: none;
   display: flex;
   align-items: center;
   color: #fff;
   margin: 15px 0;
}

.filter-input {
   outline: none;
   width: 90%;
   height: 25px;
   padding: 15px;
   color: #fff;
   border: none;
   margin: 15px 0;
}

.items {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   justify-content: space-between;
}
.item {
   margin: 0 15px;
   list-style-type: none;
   cursor: pointer;
   
}
/* .item a{
 text-decoration: none;
 color: #fff;
   
} */

#tags {
   margin-top: 15px;
   height: 80px;
   /* border: 1px solid #000; */
   display: flex;
   flex-wrap: wrap;
}

.tag {
   padding: 5px;
   height: 30px;
   background-color: #ed6454;
   color: #fff;
   border-radius: 5px;
   margin: 5px;
   display: flex;
   align-items: center;
   justify-content: center;
   
}

.closeTag {
   width: 25px;
   height: 25px;
   color: #fff;
   border: 1px solid #fff;
   margin: 0 3px;
   padding: 3px;
   border-radius: 50%;
   display: flex;
   justify-content: center;
   align-items: center;
   cursor: pointer;
   
}

.bleu {
   background-color: #3282f7;
}

#filter-appliance .open-filter,
#filter-appliance .filter-bottom,
#filter-appliance .filter-input,
#filter-appliance .filter-bottom button {
   background-color: #68d9a4;
}
#filter-ustensil .open-filter,
#filter-ustensil .filter-bottom,
#filter-ustensil .filter-input,
#filter-ustensil .filter-bottom button {
   background-color: #ed6454;
}

#filter-ustensil .filter-input::placeholder,
#filter-appliance .filter-input::placeholder {
   color: #fff;
   opacity: 0.6;
}

/************************ menu *************************/

#recipes-wrapper {
   margin-top: 30px;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
}

.recipe-card {
   width: 400px;
   height: 460px;
   margin-bottom: 20px;
   margin-right: 10px;
}

.recipe-top {
   height: 50%;
   background: #c7bebe;
   border-radius: 5px 5px 0 0;
}

.recipe-bottom {
   height: 50%;
   background: #e7e7e7;
   border-radius: 0 0 5px 5px;
   display: flex;
}

.recipe-left,
.recipe-right {
   width: 50%;
   margin-left: 20px;
}

.recipe-name {
   margin-top: 20px;
   font-weight: 400;
   font-size: 18px;
   overflow: visible;
   height: 20px;
   width: 250px;
   overflow: hidden;
   text-overflow: ellipsis;
   white-space: nowrap;
}

.recipe-ingredients {
   margin-top: 20px;
   font-weight: 700;
   font-size: 12px;
}

.time {
   text-align: right;
   margin: 20px;
   font-size: 18px;
   font-weight: 700;
}

.clock {
   margin-right: 5px;
}

.description {
   font-size: 12px;
   line-height: 12px;
   margin-right: 20px;
   text-align: left;
   height: 144px;
   -webkit-box-orient: vertical;
   display: -webkit-box;
   -webkit-line-clamp: 12;
   overflow: hidden;
   text-overflow: ellipsis;
   white-space: normal;
}

.description:hover {
   overflow: auto;
   -webkit-box-orient: vertical;
   display: -webkit-box;
   -webkit-line-clamp: 25;
}
